<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %> | Markwhen Editor and Viewer</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/auth.css" />
    </head>
    <body class="auth-body">
        <div class="auth-nav">
            <div class="auth-logo">
                <h1>Markwhen Editor</h1>
            </div>
        </div>
    </body>
</html>
